@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    min-width: 1140px;
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
}

table,
td,
th {
    border: 1px solid black;
}

th {
    padding: 5px;
    height: 30px;
}

a:hover,
a:visited,
a {
    color: #007bff;
    text-decoration: none;
}

header,
.header__logo {
    height: 50px;
}

.menu {
    padding: 0;
}

.center {
    display: flex;
    align-items: center;
}

.main-banner {
    background: url("/images/background/dogBackground.jpeg") no-repeat center center;
    background-size: cover;
    height: 600px;
}

.main-banner header {
    box-shadow: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.content {
    padding-bottom: 90px;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.main-banner .center {
    height: 530px;
}

.exists,
.not-exists,
.wait {
    font-weight: bold;
}

.exists {
    color: green;
}

.not-exists {
    color: red;
}

.wait {
    color: skyblue;
}

.menu {
    float: right;
}

.header__logo {
    width: 50px;
    background: url("/images/background/logoBlack.svg") no-repeat;
    background-size: contain;
    float: left;
}

.header__logo--banner {
    background-image: url("/images/background/logo.svg");
}

.header__brand {
    font-size: 22px;
    line-height: 50px;
    margin-left: 15px;
    font-weight: bold;
    float: left;
}

.header__logo-link:visited,
.header__logo-link,
.menu a {
    color: black;
}

.menu a {
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    color: #f5a637;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.main-banner,
.header__logo-link--banner:visited,
.header__logo-link--banner,
.menu--banner a {
    color: white;
}

.product-card img,
.product-card,
.product__img {
    width: 280px;
}

.product-card img {
    display: block;
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
}

.product__img {
    border: 1px solid black;
}

.product__img:hover {
    border: 1px solid transparent;
}

.contact-map {
    width: 100%;
    height: 374px;
    border: 0;
}

.field {
    margin-bottom: 5px;
}

.field input,
.field textarea {
    width: 230px;
    height: 20px;
    color: #25252d;
    padding: 3px 6px;
}

.field textarea {
    width: 300px;
    height: auto;
}

.product h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
    padding: 5px;
}

.product__short-desc {
    margin-left: 20px;
    width: 100%;
}

.product__short-desc p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product__short-desc h2 {
    margin-top: 0;
}

.product__body {
    display: flex;
}

.product__desc {
    color: #505050;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.product__check-list li {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    color: green;
    position: relative;
    padding-left: 20px;
    list-style-type: none;
}

.product__check-list li:after {
    top: 2px;
    left: 0;
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("/images/background/mark.svg");
    display: block;
}

.product__check-list {
    padding-left: 0;
}

.email:focus {
    color: #007bff;
    background: #eaeaea;
}

.product p:first-letter {
    font-size: 22px;
    font-family: "Times New Roman", serif;
}

input[type="text"],
#text {
    text-transform: capitalize;
}

.footer {
    height: 40px;
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.4);
    text-align: right;
    padding: 20px 0 20px 0;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.beauty-button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    display: inline-block;
}

.beauty-button:hover {
    background: rgb(53, 167, 110);
    color: white;
}

.beauty-button:active {
    color: white;
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.article {
    margin-bottom: 10px;
}

.product-card {
    flex-basis: calc(25% - 20px);
    margin: 0 10px 10px;

}

.product-card img {
    width: auto;
    max-width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}